[{:db/ident :comment/posted-at
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}
 {:db/ident :comment/posted-by
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :comment/content
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true}
 {:db/ident :comment/format
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :comment/reactions
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}
 {:db/ident :comment/public?
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one}

 {:db/ident :comment.format/plain}
 {:db/ident :comment.format/markdown}
 {:db/ident :comment.format/voice}]
