[{:db/ident :read-comment/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :read-comment/thread
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :read-comment/comment-no
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}]
