{:back-channeling.server.http/undertow [:duct.server/http]
 :back-channeling.database/datomic     [:duct/database]
 :back-channeling.module/auth          [:duct/module]
 :back-channeling.module/app           [:duct/module]}
